<div ng-controller="ContentDetailsController">



  <div class="container-fluid">
    <div class="well">
      {{content.description}}<br/>
       <img src="{{content.image}}" width="250" height="250"/>
      <div class="secretWord">
        <ul class="list-inline">
          <li ng-repeat="letter in secretWord">
            <span ng-hide="letter.chosen">_</span>
            <span ng-show="letter.chosen">{{ letter.name }}</span>
          </li>
        </ul>

        <div class="letters">
          <ul class="list-inline">
            <li ng-repeat="letter in letters">
              <button class="btn btn-primary letter-button"
                      ng-disabled="letter.chosen"
                      ng-click="try(letter);">{{letter.name}}</button>
            </li>
          </ul>
        </div>
        <span ng-show="win">Parabens</span>
      </div>
    </div>
  </div>

</body>
</div>
