<div ng-controller="LessonController">
  <md-content>
    <md-grid-list md-gutter="1em" md-row-height="250px" md-cols="4">
     <md-grid-tile ng-repeat="lesson in lessons | filter:searchText" style="border: 1px solid #eee" class="repeated-item" ng-click="goToSite(site)">
         <md-content>
           <h3>{{lesson.name}}</h3>
           <h4>{{lesson.description}}</h4>
           <img src="{{lesson.image}}" width="150" height="150"/>
         </md-content>
         <md-grid-tile-footer>
           <span ng-show="lesson.finished">Concluido</span>
         </md-grid-tile-footer>
     </md-grid-tile>
  </md-content>
</div>
